.OpusWrapper {
  display: flex;
  flex-direction: column;
  padding: 30px 30px 40px 30px;
  max-width: 980px;
  min-width: 980px;
  width: 980px;
  margin: 0 auto;
}
.OpusCardWrapper {
  display: flex;
  flex-direction: row;
}
.OpusSearchWrapper {
  text-align: center;
}
.OpusMenuWrapper {
  width: 240px;
  height: 100vh;
}
.OpusBody {
  flex: 1;
  padding: 12px;
  display: flex;
  flex-direction: column;
}
.OpusCardItem {
  padding: 0 12px;
}
.OpusHeaderLine {
  display: flex;
  flex-direction: row;
}
.OpusHeaderLineLeft {
  flex: 1;
  justify-content: flex-start;
}
.OpusHeaderLineRight {
  width: 312px;
  justify-content: flex-end;
}
.OpusCardContent {
  padding: 0 12px;
}
.OpusCardItemIcon:hover {
  color: #d04135;
}
