.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: auto;
}
.trending {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.trendingHeader {
  border-radius: 3px 3px 0 0;
  border-bottom: 1px solid #eee;
  padding: 8px 15px;
  font-size: 14px;
  line-height: 19px;
}
.trendingModule {
  padding: 16px 0 0 0;
}
.trendingContent {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 200px;
}
.trendingWarpper {
  display: -ms-flexbox;
  display: flex;
  height: 178px;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  overflow: hidden;
}
.trendingItem:first-child {
  margin-left: 0;
}
.trendingItem {
  -ms-flex: 1;
  flex: 1;
  margin-left: 12px;
  max-width: 375px;
  min-width: 208px;
}
.trendingBox {
  color: rgb(255, 255, 255);
}
.trendingBefor::before {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -ms-flex: 1;
  flex: 1;
}
.trendingImages {
  height: 178px;
  fill: inherit;
  position: relative;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}
.trendingTextContent {
  position: absolute;
  bottom: 0px;
  z-index: 10;
  padding: 12px;
  display: flex;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -ms-flex: 1;
  flex: 1;
  padding: 12px 12px 4px;
  min-height: 0;
}

.trendingItemTitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  margin-top: 75px;
  color: rgb(255, 255, 255);
}

.trendingItemDesc {
  font-family: Noto Sans, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  display: inline-block;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  max-height: 40px;
  display: -webkit-inline-box;
  -webkit-line-clamp: 2;
}
.trendingAuthorInfo {
  -ms-flex: none;
  flex: none;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  -ms-flex-positive: 1;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 4px;
  display: inline-block;
  vertical-align: top;
}
.trendingAuthorName {
  margin-left: 6px;
  font-size: 14px;
}
.postWrapper {
  display: flex;
}
.postContent {
  margin-top: 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.postItem {
  padding-left: 40px;
  border-radius: 4px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 10px;
  color: rgb(135, 138, 140);
  fill: rgb(135, 138, 140);
  cursor: pointer;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-image: initial;
  transition: color 0.5s ease 0s, fill 0.5s ease 0s, box-shadow 0.5s ease 0s;
}
.postItem:hover {
  border-color: #878A8C;
}
.postUserInfoContent {
  display: flex;
  align-items: flex-start;
}
.postUserInfoAvatar {
  margin-right: 10px;
}
.postUserInfoView {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.postUserInfoName {
  font-size: 16px;
  font-weight: 700;
  color: #333333;
}
.postItemAction {
  background-color: #F8F9FA;
  width: 40px;
  border-left: 4px solid transparent;
  -ms-flex-align: center;
  align-items: center;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  left: 0;
  padding: 8px 4px 8px 0;
  position: absolute;
  top: 0;
}
.postItemActionIcon {
  background-color: #F8F9FA;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  fill: inherit;
  flex-direction: column;
  padding-top: 5px;
}
.postItemActionIconItem {

}
.postItemActionText {
  color: #1A1A1B;
  font-size: 13px;
  font-weight: 700;
  line-height: 50px;
  height: 42px;
}
.postItemActionIconItemUp:hover {
  color: #D04135;
}
.postItemActionIconItemDown:hover {
  color: #0D568B;
}
.postRightContent{
  background-color: #FFF;
  padding-top:10px;
  padding-left: 10px;
  margin-top: -1px!important;
}
.rightActionContent {
  display: flex;
  flex-direction: row;
}
.actionItemText {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  border-radius: 2px;
  transition: background-color 0.1s ease 0s;
  padding: 4px;
  margin-right: 4px;
  color: inherit;
}
.actionItemText:hover{
  background-color: #BCBEC0;
  border-radius: 2px;
}
.postContentDesc {
  margin-top: -10px!important;
}
.postContentDescTitle {
  color: #333;
  font-weight: 700;
  font-size: 16px;
}
.postContentDescTitle:hover{
  color: #4285f4;
}

.cinema{
  color: #BCBEC0;
  font-size: 13px;
}
.postPagesContent {
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
  border-bottom: 2px #DDDDDE solid;
  border-radius: 4px;
}
.postPages {
  align-self: center;
  margin:0 auto -1px auto;
}
.postRight {
  flex: 0 0 312px;
  width: 312px;
  margin-top: 48px;
  margin-left: 28px;
  display: flex;
  flex-direction: column;
}
.rightAd {
  position: relative;
  border-radius: 4px;
  display: block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 160px;
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: RGB(241, 243, 244);
  margin-top: 10px;
}
.aDbadge {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  background-color: #000;
  padding: 0 5px;
  font-size: 12px;
  line-height: 20px;
  opacity: 0.7;
}
.userCard {
  position: relative;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  border-radius: 5px 5px 4px 4px;
}
.userCardContent {
  overflow-wrap: break-word;
  background-color: rgb(255, 255, 255);
  border-radius: 5px 5px 4px 4px;
  overflow: visible;
  padding: 12px;
}
.userCardHeader {
  background-color: rgb(51, 168, 255);
  height: 94px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  border-radius: 4px 4px 0px 0px;
}
.userCardHeaderBd {
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: center center;
}
.userCardAvatar {
  background-color: #fff;
  border-radius: 6px;
  box-sizing: border-box;
  height: 86px;
  margin-left: -3px;
  margin-top: 16px;
  padding: 3px;
  position: relative;
  width: 86px;
}
.userAvatar {
  background-size: cover;
  height: 100%;
  width: 100%;
  background-position: center center;
  border-radius: 4px;
}
.userName {
  display: flex;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(34, 34, 34);
  margin: 4px 0px;
  flex-direction: row;
}
