.OpusWrapper {
  display: flex;
  flex-direction: row;
  padding: 30px 60px 40px 60px;
  min-width: 980px;
}
.OpusMenuWrapper {
  width: 240px;
  height: 100vh;
}
.OpusBody {
  flex: 1;
  padding: 12px;
}
.OpusCardItem {
  padding: 0 12px;
}
