.IndexQuestionWrapper {
  display: flex;
}
.IndexQuestionMainContent {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.IndexQuestionRightContent {
  flex: 0 0 312px;
  width: 312px;
  margin-top: 48px;
  margin-left: 28px;
  display: flex;
  flex-direction: column;
}
.IndexQuestionContent {
  height: 1000px;
  width: 100%;
  background-color: #ffffff;
  margin-top: 10px;
  padding: 0 12px;
  border-radius: 4px;
}
.questCardSearch {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.questCard {
  overflow-wrap: break-word;
  background-color: rgb(255, 255, 255);
  color: rgb(26, 26, 27);
  fill: rgb(26, 26, 27);
  border-radius: 5px 5px 4px 4px;
  overflow: visible;
  margin-top: 10px;
}
.questCardContent {
  padding: 12px;
}
.questCardDesc {
  width: 240px;
  display: inline-block;
  flex-direction: row;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.recCard {
  overflow-wrap: break-word;
  background-color: rgb(255, 255, 255);
  color: rgb(26, 26, 27);
  fill: rgb(26, 26, 27);
  border-radius: 5px 5px 4px 4px;
  overflow: visible;
  margin-top: 10px;
}
.recCardContent {
  width: 100%;
  padding: 12px;
}
.recCardBtn {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.tagCard {
  overflow-wrap: break-word;
  background-color: rgb(255, 255, 255);
  color: rgb(26, 26, 27);
  fill: rgb(26, 26, 27);
  border-radius: 5px 5px 4px 4px;
  overflow: visible;
  margin-top: 10px;
}
.tagCardContent {
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
}
.marginTop20 {
  margin-top: 20px;
}
.marginRight8 {
  margin-right: 8px;
}
.marginBottom8 {
  margin-bottom: 8px;
}
.tagCardItem {
  width: auto;
  display: inline-block !important;
  display: inline;
  margin-right: 6px;
  margin-bottom: 8px;
}
