.Content {
  height: 1400px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.UserHeader {
  width: 100%;
}
.UserHeaderInfo {
  max-width: 840px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 20px 20px 20px 120px;
  box-sizing: border-box;
}
.UserHeaderInfoAvatar {
  padding: 6px;
  border-radius: 4px;
  background-color: #ffffff;
}
.UserHeaderUserInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 6px;
}
.UserHeaderUserName {
  display: flex;
  flex-direction: row;
}
.UserHeaderUserNameContent {
  display: flex;
  flex-direction: row;
  height: 44px;
  line-height: 44px;
}
.UserHeaderUserId {
  color: rgba(0, 0, 0, 0.54);
  font-weight: 600;
  font-size: 14px;
  line-height: 44px;
  height: 44px;
  padding-left: 12px;
}
.UserHeaderUserNameContentAction {
  flex: 1;
  line-height: 44px;
  height: 44px;
  text-align: right;
}
.UserHeaderOtherInfo {
  display: flex;
  flex-direction: row;
  color: rgba(0, 0, 0, 0.38) !important;
  height: 20px;
  line-height: 20px;
}
.userVip {
  height: 20px;
}
.userVipImg {
  height: 20px;
  line-height: 20px;
  margin: 4px 0px;
}
.userExpName {
  color: #333;
  font-weight: bold;
}
.userExpBar {
  display: inline-block;
  width: 128px;
  height: 16px;
  background-color: #606060;
  border-radius: 4px;
}
.userExpNumber {
  text-align: right;
  color: white;
  height: 16px;
  line-height: 16px;
  border-radius: 4px;
  padding-right: 10px;
}
.userDesc {
  display: flex;
  flex-direction: row;
}
.UserHeaderAction {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}
.UserActionItem {
  color: #616161;
  text-align: center;
  margin-right: 12px;
  line-height: 30px;
  background-color: #ffffff;
  width: 30px;
  padding-left: 4px;
  border-radius: 4px;
  a {
    color: #616161;
  }
  a:hover {
    color: #4285f4;
  }
}
.UserActionItem:hover {
  cursor: pointer;
  color: #4285f4;
}
.UserBgHeader {
  padding-top: 38vh;
  background-size: cover;
  background-position: 50%;
}
.UserBgHeaderContent {
  width: 100%;
}
.UserBgHeaderInfo {
  max-width: 840px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 120px;
  box-sizing: border-box;
}
.UserBgHeaderAvatar {
  position: absolute;
  left: 20px;
  bottom: 20px;
  height: 204px !important;
  background-color: hsla(0, 0%, 100%, 0.8);
  width: 204px !important;
  border-radius: 102px !important;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
.UserHeaderBgUserInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 120px;
}
.UserInfoContent {
  min-width: 980px;
  max-width: 980px;
  margin: 24px auto;
  padding: 0 24px;
}
