@import '~antd/lib/style/themes/default.less';
html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.globalSpin {
  width: 100%;
  margin: 40px 0 !important;
}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline--two-columns
    .vertical-timeline-element.vertical-timeline-element--right
    .vertical-timeline-element-content
    .vertical-timeline-element-date,
  .vertical-timeline--two-columns
    .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left)
    .vertical-timeline-element-content
    .vertical-timeline-element-date {
    left: auto !important;
    right: 144% !important;
    text-align: right;
    font-weight: 700;
  }
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline--two-columns
    .vertical-timeline-element-content
    .vertical-timeline-element-date {
    position: absolute;
    width: 100%;
    left: 144% !important;
    top: 6px;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
  }
}

.GlobalLineHeader {
  border-radius: 3px 3px 0 0;
  border-bottom: 1px solid #eee;
  padding: 8px 15px;
  font-size: 14px;
  line-height: 19px;
}

.GlobalPagesWrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 700px;
}
.GlobalPagesContent {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  background-color: #dadfe4;
  border-radius: 4px;
}
.GlobalPages {
  align-self: center;
  margin: 0 auto -1px auto;
}
.vditor-reset {
  font-family: Helvetica Neue, Luxi Sans, DejaVu Sans, Tahoma, Hiragino Sans GB, Microsoft Yahei,
    sans-serif;
  word-wrap: break-word;
  overflow: auto;
  line-height: 1.65;
  font-size: 16px;
  word-break: break-word;
}

.index {
  .ui.items > .item > .content > .description {
    margin-top: 0px !important;
    max-width: auto;
    font-size: 1em;
    line-height: 1.4285em;
    color: rgba(0, 0, 0, 0.87);
  }

  .ui.items > .item > .image {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: block;
    float: none;
    margin: 0 10px !important;
    padding: 0;
    max-height: '';
    -ms-flex-item-align: top;
    align-self: center;
  }
}

.quest {
  .ui.input > input {
    margin: 0;
    max-width: 100%;
    width: 312px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    outline: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 1.21428571em;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 0.67857143em 1em;
    background: #fff;
    border: 1px solid rgba(34, 36, 38, 0.15);
    color: rgba(0, 0, 0, 0.87);
    -webkit-transition: border-color 0.1s ease, -webkit-box-shadow 0.1s ease;
    transition: border-color 0.1s ease, -webkit-box-shadow 0.1s ease;
    transition: box-shadow 0.1s ease, border-color 0.1s ease;
    transition: box-shadow 0.1s ease, border-color 0.1s ease, -webkit-box-shadow 0.1s ease;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
.questCard {
  .ui.list > .item > img.image {
    display: inline-block;
    border-radius: 4px;
  }
}
.article_comment {
  .ui.comments {
    margin: 1.5em 0;
    max-width: 816px;
  }
  .ui.comments .comment {
    position: relative;
    background: 0 0;
    margin: 0.5em 0 0;
    padding: 0.5em 0 0;
    border: none;
    border-top: none;
    line-height: 1.2;
  }
  .ui.comments .comment > .content {
    display: block;
    border-bottom: 1px #eee solid;
    padding-bottom: 10px;
  }
}
.article-content {
  .vditor {
    display: block;
    flex-direction: column;
    border: 0px solid #d1d5da !important;
    border-radius: 3px;
    box-sizing: border-box;
  }
  .vditor-toolbar {
    background-color: #f6f8fa;
    border-bottom: 1px solid #d1d5da;
    padding: 0 5px;
    border-radius: 3px 3px 0 0;
    display: none !important;
  }
  .vditor-textarea {
    position: absolute;
    top: -19999px;
    left: -19999px;
    flex: 1;
    border: 0;
    resize: none;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fafbfc;
    outline: 0 none;
    font-size: 16px;
    line-height: 22px;
    color: #24292e;
    border-radius: 0 0 3px 3px;
  }
  .vditor-counter {
    display: none !important;
    padding: 0 3px;
    position: absolute;
    bottom: 10px;
    right: 20px;
    color: #24292e;
    background-color: hsla(0, 0%, 100%, 0.6);
    border-radius: 3px;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .vditor-preview {
    flex: 1;
    overflow-x: hidden !important;
    padding: 10px;
    box-shadow: inset 0px 0 #d1d5da !important;
    box-sizing: border-box;
    border-radius: 0 0 3px 0;
  }
}
.article-detail {
  .pushable {
    height: 100%;
    overflow-x: hidden;
    overflow: hidden !important;
    padding: 0 !important;
  }
}
.user-info-tab {
  .ui.segment {
    position: relative;
    background: #fff;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    margin: 1rem 0;
    padding: 0 !important;
    border-radius: 0.28571429rem;
    border: 0px solid rgba(34, 36, 38, 0.15) !important;
  }
  .vertical-timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #dce0e4;
  }

  .vertical-timeline-element-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #dce0e4, inset 0 2px 0 rgba(0, 0, 0, 0.08),
      0 3px 0 4px rgba(0, 0, 0, 0.05);
  }

  .vertical-timeline-element-content {
    position: relative;
    margin-left: 60px;
    background: #fff;
    border-radius: 0.25em;
    padding: 1em;
    box-shadow: 0 3px 0 #fff;
    border: 1px #dce0e4 solid;
  }

  .vertical-timeline-element-content:hover {
    border: 1px #333333 solid;
  }

  .vertical-timeline-element-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid #dce0e4;
  }

  @media only screen and (min-width: 1170px) {
    .vertical-timeline--two-columns .vertical-timeline-element-content::before {
      top: 24px;
      left: 100%;
      border-color: transparent;
      border-left-color: #dce0e4;
    }
  }

  @media only screen and (min-width: 1170px) {
    .vertical-timeline--two-columns
      .vertical-timeline-element.vertical-timeline-element--right
      .vertical-timeline-element-content::before,
    .vertical-timeline--two-columns
      .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left)
      .vertical-timeline-element-content::before {
      top: 24px;
      left: auto;
      right: 100%;
      border-color: transparent;
      border-right-color: #dce0e4;
    }
  }
}
