@import '~antd/lib/style/themes/default.less';
html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.globalSpin {
  width: 100%;
  margin: 40px 0 !important;
}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}
.vditor-reset {
  font-family: Helvetica Neue,Luxi Sans,DejaVu Sans,Tahoma,Hiragino Sans GB,Microsoft Yahei,sans-serif;
  word-wrap: break-word;
  overflow: auto;
  line-height: 1.65;
  font-size: 16px;
  word-break: break-word;
}

.index {
  .ui.items > .item > .content > .description {
    margin-top: 0px !important;
    max-width: auto;
    font-size: 1em;
    line-height: 1.4285em;
    color: rgba(0, 0, 0, 0.87);
  }

  .ui.items > .item > .image {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: block;
    float: none;
    margin: 0 10px !important;
    padding: 0;
    max-height: '';
    -ms-flex-item-align: top;
    align-self: center;
  }
}

.quest {
  .ui.input > input {
    margin: 0;
    max-width: 100%;
    width: 312px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    outline: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 1.21428571em;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 0.67857143em 1em;
    background: #fff;
    border: 1px solid rgba(34, 36, 38, 0.15);
    color: rgba(0, 0, 0, 0.87);
    -webkit-transition: border-color 0.1s ease, -webkit-box-shadow 0.1s ease;
    transition: border-color 0.1s ease, -webkit-box-shadow 0.1s ease;
    transition: box-shadow 0.1s ease, border-color 0.1s ease;
    transition: box-shadow 0.1s ease, border-color 0.1s ease, -webkit-box-shadow 0.1s ease;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
.questCard {
  .ui.list > .item > img.image {
    display: inline-block;
    border-radius: 4px;
  }
}
.article_comment {
  .ui.comments {
    margin: 1.5em 0;
    max-width: 816px;
  }
}
.article-content {
  .vditor {
    display: block;
    flex-direction: column;
    border: 0px solid #d1d5da!important;
    border-radius: 3px;
    box-sizing: border-box;
  }
  .vditor-toolbar {
    background-color: #f6f8fa;
    border-bottom: 1px solid #d1d5da;
    padding: 0 5px;
    border-radius: 3px 3px 0 0;
    display: none!important;
  }
  .vditor-textarea {
    display: none!important;
    flex: 1;
    border: 0;
    resize: none;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fafbfc;
    outline: 0 none;
    font-size: 16px;
    line-height: 22px;
    color: #24292e;
    border-radius: 0 0 3px 3px;
  }
  .vditor-counter {
    display: none!important;
    padding: 0 3px;
    position: absolute;
    bottom: 10px;
    right: 20px;
    color: #24292e;
    background-color: hsla(0,0%,100%,.6);
    border-radius: 3px;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .vditor-preview {
    flex: 1;
    overflow-x: hidden!important;
    padding: 10px;
    box-shadow: inset 0px 0 #d1d5da!important;
    box-sizing: border-box;
    border-radius: 0 0 3px 0;
  }

}
